/* Game */
.gameUI-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.game-wrapper .inGameStats {
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 100%;
    top: 0;
    z-index: 2;
    text-align: right;
    height: 100%;
    margin-right: calc(15px + 6 * var(--game-bubble-border-width));
}

.game-wrapper .inGameStats .time {
    display: flex;
    justify-content: flex-end;
}

.game-wrapper .inGameStats .time span {
    width: 10%;
    text-align: right;
}

.game-wrapper .inGameStats .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.game-wrapper .inGameStats .bottom > div{
    font-variant: small-caps;
}

.game-wrapper .inGameStats .bottom div p {
    margin: unset;
}

.game-wrapper .inGameStats .bottom div p:first-of-type{
    opacity: 0.7;
    font-size: 50%;
}

.game-wrapper .inGameStats .top {
    position: absolute;
    top: 20%;
    right: 0;
    width: 100%;
}

.game-wrapper .inGameStats p {
    margin: unset;
    margin-top: 5px;
}

.game-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin-bottom: 30px;
    font-size: 3.8vh;
    --game-bubble-height: 3.2vh;
    --game-bubble-border-width: 5px;
    --game-board-border-radius: 0;
    --game-board-border-width: 8px;
    --game-board-padding: 8px;
}

.gameUI-wrapper .playerName {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    text-align: center;
}

.gameUI-wrapper .monospace {
    white-space: pre-line;
    font-family: 'Consolas', monospace;
}

.gameUI-wrapper .overlap-infos {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 150%;
    font-size: 300%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
}

@keyframes slideOutToGame {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slide-out-left-to-game {
    animation: slideOutToGame 0.5s forwards;
}

@keyframes slideOutOffGame {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.slide-out-right-off-game {
    animation: slideOutOffGame 0.5s forwards;
}

.black-overlay-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    animation-delay: 0.2s !important;
    animation: fadeOut 1.3s forwards;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.black-overlay-right {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.black-overlay-left {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.gameUI-wrapper .board {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: var(--game-board-border-width) solid white;
    border-radius: var(--game-board-border-radius);
    border-bottom-right-radius: unset;
    padding: var(--game-board-padding);
    border-right: var(--game-board-border-width) solid transparent;
}

.gameUI-wrapper .board::after {
    content: "";
    position: absolute;
    left: calc(100% - 20px - var(--game-board-border-width));
    top: 0px;
    width: 20px;
    border-right: var(--game-board-border-width) solid white;
    border-top: var(--game-board-border-width) solid white;
    border-top-right-radius: var(--game-board-border-radius);
    height: calc(100% - var(--game-bubble-height) - 2 * var(--game-bubble-border-width) - 2 * var(--game-board-padding) - 2 * var(--game-board-border-width));
}

.gameUI-wrapper .board .row {
    display: flex;
    box-sizing: border-box;
    gap: var(--game-board-padding);
}

.gameUI-wrapper .board .row.small {
    padding: 0 calc(var(--game-bubble-height) / 2 + var(--game-board-padding));
}

.gameUI-wrapper .field {
    width: var(--game-bubble-height);
    min-width: var(--game-bubble-height);
    height: var(--game-bubble-height);
    min-height: var(--game-bubble-height);
    border: var(--game-bubble-border-width) solid transparent;
}

.gameUI-wrapper .field.bubble {
    border-radius: 50%;
    position: relative;
}

.gameUI-wrapper .field.bubble:before {
	content: "";
	position: absolute;
    z-index: 1;
    top: calc(-1 * var(--game-bubble-border-width));
    left: calc(-1 * var(--game-bubble-border-width));
    width: calc(100% + 2 * var(--game-bubble-border-width));
    height: calc(100% + 2 * var(--game-bubble-border-width));
    background-image: url("../img/bubble2.png");
    background-position: center;
    background-size: cover;
}

.gameUI-wrapper .board .deathZoneLine {
    border-top: var(--game-board-border-width) solid white;
}

.gameUI-wrapper .board .preview > .bubble {
    background: transparent !important;
}

.gameUI-wrapper .board .preview.colorBlindWhite::after {
    content: "";
    position: absolute;
    width: calc(100% - var(--game-bubble-border-width) * 2);
    height: calc(100% - var(--game-bubble-border-width) * 2);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: calc(var(--game-bubble-border-width) / 1.5) solid rgb(255, 255, 255);
}

.gameUI-wrapper .board .preview.colorBlindGreen::after {
    content: "";
    position: absolute;
    width: calc(100% - var(--game-bubble-border-width) * 2);
    height: calc(100% - var(--game-bubble-border-width) * 2);
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: calc(var(--game-bubble-border-width) / 2) solid rgb(9, 255, 0);
}

.gameUI-wrapper .board .preview {
    position: relative;
}

.gameUI-wrapper .board .preview .hold {
    position: absolute;
    bottom: calc(-1 * var(--game-bubble-height) / 20);
    left: calc(-1 * var(--game-bubble-height) / 20);
}

.gameUI-wrapper .board .preview .hold .bubble {
    width: calc(var(--game-bubble-height) / 5);
    min-width: calc(var(--game-bubble-height) / 5);
    height: calc(var(--game-bubble-height) / 5);
    min-height: calc(var(--game-bubble-height) / 5);
    border-width: 0;
}

.gameUI-wrapper .board .preview .bubble:after {
    display: none;
}

.gameUI-wrapper .board .preview .bubble:before {
    display: none;
}

.gameUI-wrapper .board .arrowLine {
    height: calc(var(--game-bubble-height) + 2 * var(--game-bubble-border-width));
    position: relative;
}

.gameUI-wrapper .board .arrowLine .hold-piece{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

/* .gameUI-wrapper .board .arrowLine .hold-piece .bubble{
    height: calc(var(--game-bubble-height) / 2);
    min-height: calc(var(--game-bubble-height) / 2);
    min-width: calc(var(--game-bubble-height) / 2);
    width: calc(var(--game-bubble-height) / 2);
} */

.gameUI-wrapper .board .arrowLine .crossbow {
    height: calc(var(--game-bubble-height) * 3);
    width: calc(var(--game-bubble-height) * 3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    will-change: transform;
    background-image: url("../img/arrow.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: 1;
}

.gameUI-wrapper .queue-wrapper::before {
    border-top: 5vh solid transparent;
    border-right: var(--game-board-border-width) solid var(--sprint-color);
    content: "";
    position: absolute;
    bottom: calc(-1 * var(--game-board-border-width));
    right: calc(-1 * var(--game-board-border-width));
    border-bottom:  var(--game-board-border-width) solid var(--sprint-color);
    border-left: 10vw solid transparent;
    height: 20%;
    width: 40%;
}

.gameUI-wrapper .queue-wrapper {
    position: absolute;
    bottom: 0%;
    right: 0;
    transform: translateX(45%);
    padding: var(--game-board-padding) 0;
    border: var(--game-board-border-width) solid white;
    border-left: none;
    width: calc((5 * var(--game-bubble-height) + 5 * var(--game-board-padding) + 10 * var(--game-bubble-border-width)) - (0.5 * var(--game-bubble-height) + var(--game-bubble-border-width) + var(--game-board-padding)));
}

.gameUI-wrapper .queue-overflow {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gameUI-wrapper .queue-wrapper .queue-pieces {
    display: flex;
    flex-direction: row;
    gap: var(--game-board-padding);
    z-index: 1;
    position: relative;
}

.gameUI-wrapper .queue-text {
    position: absolute;
    bottom: calc(0% + var(--game-bubble-height) + 2 * var(--game-bubble-border-width) + 2 * var(--game-board-padding));
    left: 100%;
    font-size: 150%;
    text-transform: uppercase;
    transform: rotate(90deg) translate(-50% , 100%);
    margin: unset;
    display: flex;
    align-items: flex-end;
}

.gameUI-wrapper .queue-text span:first-of-type  {
    font-size: 150%;
}

.gameUI-wrapper .trajectory {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gameUI-wrapper  .trajectory > polyline {
    stroke: rgba(255, 255, 255, 0.1);
    stroke-width: 4px;
    transform: translateX(4px);
}

.gameUI-wrapper .username {
    position: absolute;
    left: 50%;
    top: calc(100% + 15px);
    transform: translateX(-50%);
}

.gameUI-wrapper .username {
    font-size: 80%;
}

.gameUI-wrapper .garbage-wrapper {
    position: absolute;
    top: 0%;
    right: calc(100% - var(--game-board-border-width));
    height: calc(100% - 2 * var(--game-board-border-width));
    width: calc(3 * var(--game-board-border-width));
    border: var(--game-board-border-width) solid white;
}

.gameUI-wrapper .garbage-wrapper .garbage {
    background-color: white;
    max-height: 100%;
}