html body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#app,
#vue {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: white;
    margin-top: unset;
    height: 100vh;
}

:root {
    --menu-btn-border-width: 14px;
    --multiplayer-color: rgb(218, 0, 99);
    --singleplayer-color: rgb(12, 167, 137);
    --config-color: rgb(250, 199, 16);
    --sprint-color: rgb(29, 179, 157);
    --highscore-color: rgb(17, 178, 135);
    --pixi-color: rgb(14, 122, 88);
    --ranked-color: rgb(160, 0, 24);
    --roomListing-color: rgb(129, 33, 81);
}

h3 {
    margin: unset;
    margin-bottom: 10px;
    font-size: 20px;
}

h2 {
    margin: unset;
    margin-bottom: 15px;
    font-size: 30px;
}

.text-noWhiteSpaces {
    display: block;
    height: .75em;
    line-height: .75em;
}

body.game-view .topbar,
body.game-view .bottomBar,
body.game-view .back-buttons {
    display: none;
}

body.game-view section.page,
body.game-view .page-wrapper,
body.game-view .page-container {
    height: 100vh;
    max-width: unset;
    width: 100vw;
    padding: unset;
    margin: unset;
    min-width: 100vw;
    display: block;
}

.text-center {
    text-align: center;
}

/* Fonts */
@font-face {
    font-family: rankFont;
    src: url(../fonts/cslgreek.ttf);
}

@font-face {
    font-family: DefectVPDemo;
    src: url(../fonts/DefectVPDemo.otf);
}

@font-face {
    font-family: TheDeadAreComing;
    src: url(../fonts/thedeadarecoming.regular.ttf);
}

@font-face {
    font-family: BebasNeue-Regular;
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.rank-letter {
    font-family: rankFont;
}

.rank-img {
    filter: invert(1);
}

/* Page */
section.page {
    width: 100vw;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

section .page-wrapper {
    height: 100%;
    position: relative;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
}

section .page-container {
    padding: 80px 15px 80px;
    margin: 0 auto;
    width: 92%;
    height: 90%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-center {
    text-align: center;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Buttons */
button.goBackButton {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    margin-top: unset;
    margin: 10px;
    transition: 200ms;
}

button.goBackButton:hover,
button.goBackButton:focus {
    background-color: #cdcdcd;
    outline: none;
}

.openChannelButton {
    position: absolute;
    font-size: 2em;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: none;
    padding: 10px 30px 5px;
    height: 10vh;
    width: 15vw;
    cursor: pointer;
    transition: 200ms;
    text-transform: uppercase;
    color: white;
    margin-top: unset;
    background-color: black;
    border-top: 2px solid rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.openChannelButton .triangle-left::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    border-top: 5vh solid transparent;
    border-right: 10vh solid black;
    border-bottom: 5vh solid transparent;
    right: calc(-10vh - 1px);
    top: calc(-5vh + 1px);
}

.openChannelButton .triangle-left {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: calc(5vh + 2px) solid transparent;
    border-right: calc(10vh + 2px) solid rgb(41, 41, 41);
    border-bottom: calc(5vh + 2px) solid transparent;
    right: 100%;
    top: -2px;
}

.openChannelButton .triangle-right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: calc(5vh + 2px) solid transparent;
    border-left: calc(10vh + 2px) solid rgb(41, 41, 41);
    border-bottom: calc(5vh + 2px) solid transparent;
    left: 100%;
    top: -2px;

}

.openChannelButton .triangle-right::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    border-top: 5vh solid transparent;
    border-left: 10vh solid black;
    border-bottom: 5vh solid transparent;
    left: calc(-10vh - 1px);
    top: calc(-5vh + 1px);

}

.loader {
    width: 80px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000000 90%, #ffffff00);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: loader 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loader {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.hidden {
    display: none;
}