html body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#app,
#vue {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: white;
    margin-top: unset;
}

h3 {
    margin: unset;
    margin-bottom: 10px;
    font-size: 20px;
}


h2 {
    margin: unset;
    margin-bottom: 15px;
    font-size: 30px;
}

body.game-view .topbar,
body.game-view .bottomBar,
body.game-view .back-buttons {
    display: none;
}

/* Page */
section.page {
    width: 100vw;
    padding-left: 0;
    height: 90vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

section .page-wrapper {
    height: 100%;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

section .page-container {
    padding: 80px 15px 80px;
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.backButton {
    position: fixed;
    left: 0;
    top: 10vh;
    z-index: 1;
    background-color: rgb(30, 30, 30);
    color: white;
    border: unset;
    width: calc(7% / 100 * 120 - 10px);
    height: 5vh;
    padding: unset;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}

.text-center {
    text-align: center;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Buttons */
button.goBackButton {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    margin-top: unset;
    margin: 10px;
    transition: 200ms;
}

button.goBackButton:hover,
button.goBackButton:focus {
    background-color: #cdcdcd;
    outline: none;
}

.openChannelButton {
    position: absolute;
    font-size: 30px;
    left: 50%;
    transform: translateX(-50%);
    outline: none;
    border: none;
    padding: 10px 30px 5px;
    height: 10vh;
    width: 15vw;
    cursor: pointer;
    transition: 200ms;
    color: white;
    margin-top: unset;
    background-color: rgb(30, 30, 30);
}

.openChannelButton::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    border-style: solid;
    border-width: 5vh 10vh 5vh 0;
    border-color: transparent rgb(30, 30, 30) transparent transparent;
    display: inline-block;
    vertical-align: middle;
    right: 100%;
    top: 0;
}

.openChannelButton::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 1px;
    border-style: solid;
    border-width: 5vh 0vh 5vh 10vh;
    border-color: transparent transparent transparent rgb(30, 30, 30);
    display: inline-block;
    vertical-align: middle;
    left: 100%;
    top: 0;
}

/* Menus */
.menu-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    height: 100%;
}

.menu-btn {
    text-align: left;
    width: 120%;
    height: 15%;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 300%;
    padding: 30px 25% 30px 12%;
    margin: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    color: white;
    transform: translateX(0%);
    transition: 300ms;
}

.menu-wrapper:not(.back-buttons) .menu-btn:hover {
    transform: translateX(-10%);
}

.menu-btn img {
    width: 10vh;
    height: 10vh;
    object-fit: cover;
    position: absolute;
    left: 15px;
}

.menu-btn p.desc {
    font-size: 50%;
}

.menu-btn p {
    margin: 0;
}

.back-buttons {
    height: 100%;
    width: 0vw;
    animation: slideInBackButtons 0.4s ease forwards;
    animation-delay: 0.2s;
    background-color: black;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.back-buttons::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100vw;
}

@keyframes slideInBackButtons {
    from {
        width: 0vw;
    }

    to {
        width: 7vw;
    }
}

.back-buttons .menu-btn img {
    position: static;
}

.back-buttons .menu-btn {
    animation: fadeInBackButtons 0.4s ease forwards;
    animation-delay: 0.2s;
    padding: 30px 15px;
    justify-content: flex-end;
    width: 120%;
    opacity: 0;
    transform: translateX(0);
}

@keyframes fadeInBackButtons {
    from {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

.back-buttons .menu-btn.disabled:hover {
    transform: translateX(-17%);
}

.menu-btn.disabled {
    transform: translateX(-60%);
}

.sprintDashboard button.playButton {
    height: 100%;
    width: 100%;
    font-size: 400%;
    cursor: pointer;
    border: none;
}

button.retry {
    width: 30%;
    font-size: 300%;
    cursor: pointer;
    border: none;
}

.sprintDashboard .history-wrapper {
    flex-grow: 1;
    margin-top: 30px;
}

.sprintDashboard .history-wrapper table tr td:last-of-type,
.sprintDashboard .history-wrapper table tr th:last-of-type {
    width: 10%;
}

.loader {
    width: 80px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #ffffff 90%, #ffffff00);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: loader 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes loader {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%
    }
}

.confetti-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--confetti-color);
    top: -10px;
    /* Start off-screen */
    /* Randomize the starting position */
    left: calc(var(--confetti-position) * 100%);
    opacity: 0.7;

    /* Confetti falling animation */
    animation: fall linear infinite;
    animation-duration: calc(2s + var(--confetti-duration) * 3s);
    animation-delay: calc(var(--confetti-delay) * -5s);
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

.confetti:nth-child(1) {
    --confetti-color: #ff0000;
    /* Red */
    --confetti-position: 0.1;
    --confetti-duration: 0.5;
    --confetti-delay: 0.1;
}

.confetti:nth-child(2) {
    --confetti-color: #00ff00;
    /* Green */
    --confetti-position: 0.2;
    --confetti-duration: 0.7;
    --confetti-delay: 0.2;
}

/* Game */
@keyframes slideOutToGame {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slide-out-left-to-game {
    animation: slideOutToGame 0.5s forwards;
}

@keyframes slideOutOffGame {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

.slide-out-right-off-game {
    animation: slideOutOffGame 0.5s forwards;
}

.black-overlay-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
    animation-delay: 0.2s !important;
    animation: fadeOut 1.3s forwards;
    opacity: 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.black-overlay-right {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}

.black-overlay-left {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 999;
}