/* Overlays */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay-container {
  background: rgb(30, 30, 30);
  padding: 40px 20px;
  border-radius: 8px;
  width: 35%;
}

/* Forms */
form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: var(--font-normal);
  letter-spacing: var(--font-normal-letter-spacing);
  line-height: var(--font-normal-line-height);
}

.slider {
  flex-grow: 1;
  height: 15px;
  border-radius: 10px;
  background: #1e1e1e;
  outline: none;
  transition: opacity 0.2s;
  margin: unset;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--config-color);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--config-color);
  cursor: pointer;
}

/* Buttons */
button {
  padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-normal);
  letter-spacing: var(--font-normal-letter-spacing);
  line-height: var(--font-normal-line-height);
  transition: 200ms;
}

button.primary {
  background-color: black;
  color: white;
}

button.secondary {
  border-radius: unset;
  background-color: #1e1e1e;
  color: white;
}

button.secondary:hover {
  background-color: #181818;
}

/* Tabs */
.tabs button {
  padding: 10px 20px;
  border-radius: 0;
  background-color: #1e1e1e;
  opacity: 0.4;
  color: white;
  margin-right: 15px;
}

.tabs button.active {
  opacity: 1;
}

.tabs button:not(.active):hover {
  opacity: 0.8;
}

.tab-content {
  height: 100%;
  background-color: #1e1e1e;
  padding: 20px;
}

/* Error Messages */
.error-message {
  color: red;
  margin-top: 5px;
}
